<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html>
<head th:replace="/fragment/head :: head"></head>

<body>
<header th:replace="/fragment/header :: header"></header>
<ul th:replace="/fragment/links :: admin-ul"></ul>
<main>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" th:text="#{entrant.name}"></th>
            <th scope="col" th:text="#{faculty.name}"></th>
            <th scope="col" th:text="#{subject.name}"></th>
            <th scope="col" th:text="#{subject.rate}"></th>
            <th scope="col" th:text="#{subject.name}"></th>
            <th scope="col" th:text="#{subject.rate}"></th>
            <th scope="col" th:text="#{subject.name}"></th>
            <th scope="col" th:text="#{subject.rate}"></th>
            <th scope="col" th:text="#{state}"></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="request : ${requests}">
                <td scope="row" th:text="${request.entrant.name}"></td>
                <td th:text="${request.faculty.getNameByLocale(#locale.language)}"></td>
                <td th:text="${request.first_subject.name.getNameByLocale(#locale.language)}"></td>
                <td th:text="${request.first_subject.rate}"></td>
                <td th:text="${request.second_subject.name.getNameByLocale(#locale.language)}"></td>
                <td th:text="${request.second_subject.rate}"></td>
                <td th:text="${request.third_subject.name.getNameByLocale(#locale.language)}"></td>
                <td th:text="${request.third_subject.rate}"></td>
                <td th:text="${request.request_state.getNameByLocale(#locale.language)}"></td>
                <td th:if="${request.request_state.name() == 'ACTIVE'}"><a th:href="@{|/admin/request/accept/${request.id}|}" th:text="#{request.accept}"></a></td>
                <td th:if="${request.request_state.name() == 'ACTIVE'}"><a th:href="@{|/admin/request/disable/${request.id}|}" th:text="#{request.disable}"></a></td>
            </tr>
        </tbody>
    </table>
</main>
<footer>
    <ul class="nav nav-tabs justify-content-center" th:if="${totalPages > 0}">
        <li class="nav-item">
            <a th:href="@{/admin/request(page=${page+(-1)})}"
               th:text="#{back}"
               th:class="${page > 0} ? 'btn btn-outline-primary' : ' disabled nav-link'"></a>
        </li>
        <li class="nav-item">
            <a th:href="@{/admin/request(page=${page+1})}"
               th:text="#{next}"
               th:class="${totalPages - 1 > page} ? 'btn btn-outline-primary' : 'disabled nav-link'"></a>
        </li>
    </ul>
</footer>
</body>
</html>
