<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html>
<head th:replace="/fragment/head :: head"></head>

<body>
<header th:replace="/fragment/header :: header"></header>
<ul th:replace="/fragment/links :: admin-ul"></ul>
<main>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" th:text="#{entrant.name}"></th>
            <th scope="col" th:text="#{entrant.email}"></th>
            <th scope="col" th:text="#{entrant.active}"></th>
            <th scope="col"></th>
        </tr>
        <tbody>
            <tr th:each="entrant : ${entrants}">
                <td scope="row" th:text="${entrant.name}"></td>
                <td th:text="${entrant.email}"></td>
                <td th:text="${entrant.active} ? #{enabled} : #{disabled}"></td>
                <td>
                    <span th:if="${entrant.active}"><a class="btn btn-outline-primary" th:href="@{|/admin/entrant/disable/${entrant.id}|}" th:text="#{disable}"></a></span>
                    <span th:unless="${entrant.active}"><a class="btn btn-outline-primary" th:href="@{|/admin/entrant/enable/${entrant.id}|}" th:text="#{enable}"></a></span>
                </td>
            </tr>
        </tbody>
        </thead>
    </table>
</main>
</body>
</html>