<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/head :: head"></head>
<body>
<header th:replace="/fragment/header :: header"></header>
<ul th:replace="/fragment/links :: entrant-ul"></ul>
<main>

    <form class="input-form" th:action="@{|/entrant/request/add/${faculty.id}|}" method="post">
        <div class="subjects-group">
            <label th:text="${faculty.getNameByLocale(#locale.language)}"></label>

            <div class="input-group">
                <input class="select_subject form-control" list="subjects" id="first_subject" name="first_subject"/>
                <input type="hidden" name="subject_name1-hidden" id="first_subject-hidden">
            </div>
            <div class="input-group">
                <input class="select_subject form-control" list="subjects" id="second_subject" name="second_subject"/>
                <input type="hidden" name="subject_name1-hidden" id="second_subject-hidden">
            </div>
            <div class="input-group">
                <input class="select_subject form-control" list="subjects" id="third_subject" name="third_subject"/>
                <input type="hidden" name="subject_name1-hidden" id="third_subject-hidden">
            </div>
            <div>
                <datalist id="subjects">
                    <option th:each="subjects_option : ${subjectNames}" th:data-value="${subjects_option.id}" th:text="${subjects_option.name.getNameByLocale(#locale.language) + ' ' + subjects_option.rate}}"></option>
<!--                    <option th:each="subject : ${subjects}" th:value="${subject.id}" th:label="${subject.name.getNameByLocale(#locale.language) + ' ' + subject.rate}"></option>-->
                </datalist>
            </div>
        </div>
        <div class="buttons">
            <button class="btn btn-outline-primary" type="submit" th:text="#{add.request}"></button>
            <a class="btn btn-success" href="/entrant/request" th:text="#{back}"></a>
        </div>
    </form>
</main>
<script type="text/javascript" th:src="@{/js/subject_list.js}"></script>
</body>
</html>