<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/head :: head"></head>
<body>
<header th:replace="/fragment/header :: header"></header>
<ul th:replace="/fragment/links :: entrant-ul"></ul>
<main>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" th:text="#{faculty.name}"></th>
                <th scope="col" th:text="#{subject.name}"></th>
                <th scope="col" th:text="#{subject.rate}"></th>
                <th scope="col" th:text="#{subject.name}"></th>
                <th scope="col" th:text="#{subject.rate}"></th>
                <th scope="col" th:text="#{subject.name}"></th>
                <th scope="col" th:text="#{subject.rate}"></th>
                <th scope="col" th:text="#{state}"></th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="request : ${requests}">
                <td scope="row" th:text="${request.faculty.getNameByLocale(#locale.language)}"></td>
                <td th:text="${request.first_subject.name.getNameByLocale(#locale.language)}"></td>
                <td th:text="${request.first_subject.rate}"></td>
                <td th:text="${request.second_subject.name.getNameByLocale(#locale.language)}"></td>
                <td th:text="${request.second_subject.rate}"></td>
                <td th:text="${request.third_subject.name.getNameByLocale(#locale.language)}"></td>
                <td th:text="${request.third_subject.rate}"></td>
                <td th:text="${request.request_state.getNameByLocale(#locale.language)}"></td>
           </tr>
        </tbody>
    </table>
</main>
</body>
</html>