<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title><fmt:message key="login.title"/> </title>
</head>
<body>
<form class="login-form" th:action="@{/login}" method="post">
    <div>
        <input class="input" type="email" name="email" th:placeholder="#{input.email}"/>
        <input class="input" type="password" name="password" th:placeholder="#{input.password}"/>
        <button type="submit" th:text="#{login.button}"></button>
        <a th:href="@{/register-page}" th:text="#{register.button}"></a>
    </div>
</form>
</body>
</html>
