<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html>
<head th:replace="/fragment/head :: head"></head>

<body>
<header th:replace="/fragment/header :: header"></header>
<ul th:replace="/fragment/links :: admin-ul"></ul>
<main>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" th:text="#{faculty.name}"></th>
                <th scope="col" th:text="#{faculty.max.budget.places}"></th>
                <th scope="col" th:text="#{faculty.max.places}"></th>
                <th scope="col" th:text="#{faculty.state}"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a th:href="@{/admin/faculty(sort='DESC', nameBy='nameEn')}"  th:text="#{sort.desc}"></a>
                    <a th:href="@{/admin/faculty(sort='ASC', nameBy='nameUa')}"  th:text="#{sort.asc}"></a>
                </td>
                <td>
                    <a th:href="@{/admin/faculty(sort='DESC', nameBy='maxBudgetPlace')}"  th:text="#{sort.desc}"></a>
                    <a th:href="@{/admin/faculty(sort='ASC', nameBy='maxBudgetPlace')}"  th:text="#{sort.asc}"></a>
                </td>
                <td>
                    <a th:href="@{/admin/faculty(sort='DESC', nameBy='maxPlace')}"  th:text="#{sort.desc}"></a>
                    <a th:href="@{/admin/faculty(sort='ASC', nameBy='maxPlace')}"  th:text="#{sort.asc}"></a>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr th:each="faculty : ${faculties}">
                <td scope="row" th:text="${faculty.nameEn()}"></td>
                <td th:text="${faculty.maxBudgetPlace}"></td>
                <td th:text="${faculty.maxPlace}"></td>
                <td th:text="${faculty.active} ? #{active} : #{closed}"></td>
                <td><a class="btn btn-outline-primary" th:href="@{|/admin/faculty/edit/${faculty.id}|}" th:text="#{edit.faculty}"></a></td>
                    <td th:if="${faculty.active}">
                        <a class="btn btn-outline-primary" th:href="@{|/admin/faculty/delete/${faculty.id}|}" th:text="#{delete}"></a>
                    </td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-outline-success" th:href="@{/admin/faculty/add}" th:text="#{add.faculty}"></a>
</main>
<footer>
    <ul class="nav nav-tabs justify-content-center" th:if="${totalPages > 0}">
        <li class="nav-item">
            <a th:href="@{/admin/faculty(page=${page+(-1)}, sort=${sort}, nameBy=${nameBy})}"
               th:text="#{back}"
               th:class="${page > 0} ? 'btn btn-outline-primary' : ' disabled nav-link'"></a>
        </li>
        <li class="nav-item">
            <a th:href="@{/admin/entrant(page=${page+1}, sort=${sort}, nameBy=${nameBy})}"
               th:text="#{next}"
               th:class="${totalPages - 1 > page} ? 'btn btn-outline-primary' : 'disabled nav-link'"></a>
        </li>
    </ul>
</footer>
</body>
</html>
